---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { SITE } from "@consts";
import { Breadcrumbs } from "astro-breadcrumbs";
---

<header>
  <Container>
    <div class="flex flex-wrap gap-y-2 justify-between">
      <div class="flex gap-2">
        <Link href="/" underline={false}>
          <div class="font-semibold">
            {SITE.NAME}
          </div>
        </Link>
        <Breadcrumbs />
          </div>
      <nav class="flex gap-2">
        <Link href="/blog">
          Writing
        </Link>
        <span>
          {`/`}
        </span>
        <Link href="/projects">
          Work
        </Link>
        <span>
          {`/`}
        </span>
        <Link href="/about">
          About
        </Link>
      </nav>
    </div>
  </Container>
</header>
